/*
    color pallete :
        orange : #E37623
        orange-shade : #7F4214
        bluebright : #55BEE8
        bluebright-shade : #2F687F
        greenbrigh : #97CC04
        greenbright-shade : #5E7F02
        green : #0E9547
        green-shade : #06401E
        red : #D52724
        red-shade : #7F1716
*/
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently not supported by any browser */
}

.nopadding {
    padding: 0px!important;
    // margin: 0px!important;
}
.sidebar{
    padding-bottom: 15px;
}

.draft{
    background-color: #FFFFFF;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top:10px;
    margin-bottom: 10px;
}

.background-grey{
    background-color: #f9f9f9;
}

.row-posted{
    font-weight: lighter;
    font-size: 95%;
    color:#888;
    margin-bottom: 2px;
}

.comment{
    margin-top:5px;
    margin-bottom:5px;
    padding-top:5px;
    /*padding-left: 10px;*/
    padding-bottom:     5px;
}

.row-tags{
    font-weight: lighter;
        margin-bottom: 2px;
}

.row-bottomlink{
    font-weight: lighter;
    font-size: 95%;
    color:#55BEE8;
    margin-bottom: 2px;
}

.row-bottomlink a{
    color:#55BEE8;
}

.row-bottomlink a[href]:hover
.row-bottomlink a[href]:focus{
    color:#2F687F;
}

.rank{
    font-size: 15px;
    font-weight: bold;
    text-align: left;
}

.rank-vote{
    /*border-top :1px solid #888;*/
    font-size:14px;
    font-weight:lighter;
    color:#888
}

.location {
    color: #55BEE8;
}
.location[href]:hover,
.location[href]:focus {
  color: #2F687F;
}
.postdate {
    color: #55BEE8;
}
.postdate[href]:hover,
.postdate[href]:focus {
    color: #2F687F;
}


.usrname_mas {
    color: #55BEE8;
}
.usrname_mas[href]:hover,
.usrname_mas[href]:focus {
  color: #2F687F;
}

.usrname_pem {
    color: #49C687;
}
.usrname_pem[href]:hover,
.usrname_pem[href]:focus {
  color: #2F7F57;
}



.label-tag {
  background-color: #97CC04;
}
.label-tag[href]:hover,
.label-tag[href]:focus {
  background-color: #5E7F02;
}
.label-skpd {
  background-color: #49C687;
}
.label-skpd[href]:hover,
.label-skpd[href]:focus {
  background-color: #2F7F57;
}

.label-usulan {
    background-color: #55BEE8;
}
.label-usulan[href]:hover,
.label-usulan[href]:focus {
    background-color: #2F687F;
}
.label-rancangan {
    background-color: #E37623;
}
.label-rancangan[href]:hover,
.label-rancangan[href]:focus {
    background-color: #7F4214;
}

.label-verified-yet {
    background-color: #F0C025;
}
.label-verified-yet[href]:hover,
.label-verified-yet[href]:focus {
    background-color: #7F6616;
}
.label-verified-not {
    background-color: #D52724;
}
.label-verified-not[href]:hover,
.label-verified-not[href]:focus {
    background-color: #7F1716;
}
.label-verified-ok {
    background-color: #008000;
}
.label-verified-ok[href]:hover,
.label-verified-ok[href]:focus {
    background-color: #007F00;
}

/*label tipe feedback*/
.label-comment {
    background-color: #FB5012;
}
.label-comment[href]:hover,
.label-comment[href]:focus {
    background-color: #007F00;
}
.label-informasi {
    background-color: #8ACB88;
}
.label-informasi[href]:hover,
.label-informasi[href]:focus {
    background-color: #007F00;
}

.label-rqst {
    background-color: #006992;
}
.label-rqst[href]:hover,
.label-rqst[href]:focus {
    background-color: #007F00;
}

#thums-up{
    color: #0E9547;
    text-decoration: none;
}

#thums-up:hover,
#thums-up:focus{
    color: #06401E;
}

#thums-down{
    color: #D52724;
    text-decoration: none;
}

#thums-down:hover,
#thums-down:focus{
    color: #7F1716;
}

.pagetitle{
    padding: 15px 15px 15px 15px;
    margin-bottom: 15px;
    list-style: none;
    background-color: #337ab7;
    border-radius: 0px;
}

.bread-costum {
    background-color: #337ab7;
    margin-bottom: 0px;
}
.bread-costum > li {
  display: inline-block;
}
.bread-costum li a {
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
  display: inline-block;
}
.bread-costum > li + li:before {
  padding: 0 5px;
  color: #E5E5E5;
  font-weight: bold;
  content: "/\00a0";
}
.bread-costum > .active {
    font-size: 18px;
    font-weight: bold;
    color: #E5E5E5;
}


.footer{
    margin-top: 20px;
    padding-top: 20px;
    height: 90px;
    color: #777;
    background-color: #FFF;
    text-align: center;
    margin-bottom: -20px;
    border-top: 1px solid #e5e5e5;
    text-align: left;
}
.sort{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.clickable{
    cursor: pointer;
}

.panel-heading span {
	margin-top: -20px;
	font-size: 15px;
}

.panel-tight {
    padding: 5px 10px 0px 10px;
}

.row-tight {
    margin-left:0px;
    margin-right:0px;
}

.card-border{
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
    border: 1px solid #f3f3f3;
}

.draft-detail{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left:0px;
    margin-right:0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.add-padding-bottom{
    padding-bottom:10px;
}

/*.thumbnail-warp{
    margin-bottom: 0px;
    height: 200px;
    overflow: hidden;
    position: relative;
}*/
.thumbnail-warp{
    overflow: hidden;
    position: relative;
    display: block;
    width: 400px;
    height: 200px;
    max-width: 100%;
    margin: 0;
    /*padding: 0;*/
    padding-left: 0px;
    background: white;
    border: none;
    border-radius: 3px;
    /*box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);*/
}

.thumbnail-warp img{
    width: auto;
    /*position: absolute;*/
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.btn-dropdown {
    background-color: white!important;
    border-color: none;

}
.btn-dropdown:focus {
    outline: none;
}

.authpage {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 50%;
    margin:auto;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.help-block{
    font-size: 12px;
    text-align: right;
    margin-top: 2px;
    margin-bottom: 5px;
}

.text-edited {
    color : #2F7F57!important;
    font-weight : bold;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

body {
    overflow-y: scroll;
}

a.deco-none {
    text-decoration:none;
    color : #333;
}
