<div class="container">

    <!-- navigasi hasil post -->
    <div class="row pagetitle">
        <div class="container-fluid">
            <ol class="breadcrumb bread-costum" style="">
                <li><a href="#">Home</a></li>
                <li><a href="#">Library</a></li>
                <li class="active">Data</li>
            </ol>
        </div>
    </div>

    <!-- left side bar -->
    <!-- <div ui-view></div> -->
    <div class="col-md-3 col-sm-12 col-xs-12 pull-right sidebar">
        <div class="col-md-12">
            <h4>Cari rancangan/ usulan</h4>
            <form class="form" role="form">
                <div class="form-group">
                    <label for="keyword">Kata kunci:</label>
                    <input type="text" class="form-control" id="keyword" placeholder="Kata kunci">
                    <a href="#advancedsearch" class="help-block" data-toggle="collapse">Pencarian canggih</a>
                    <div id="advancedsearch" class="collapse">
                        <form class="form" role="form">
                            <div class="form-group">
                                <label for="draft-type">Pilih jenis draft:</label>
                                <select class="form-control" id="Rancangan">
                                    <option>Semua</option>
                                    <option>Rancangan</option>
                                    <option>Usulan</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="location">Pilih lokasi:</label>

                                <select class="form-control" id="kecamatan">
                                    <option>Semua</option>
                                    <option>kecamatan1</option>
                                    <option>kecamatan2</option>
                                </select>
                            </br>
                            <select class="form-control" id="kelurahan">
                                <option>Semua</option>
                                <option>kelurahan1</option>
                                <option>kelurahan2</option>
                            </select>
                            </div>

                            <div class="form-group">
                                <label for="verification">Pilih verifikasi:</label>
                                <select class="form-control" id="verification">
                                    <option>Semua</option>
                                    <option>Belum terverifikasi</option>
                                    <option>Lolos verifikasi</option>
                                    <option>Tidak lolos verifikasi</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="tag">Tagar:</label>
                                <input type="text" class="form-control" id="tag" placeholder="Tagar">
                                <span class="help-block">Mulai dengan "#" dan 1 kata saja</span>
                            </div>
                        </form>
                    </div>
                    <button type="submit" class="btn btn-default">Cari</button>
                </div>
            </form>
        </div>

        <div class="col-md-12">
            <h4>Tambah Usulan</h4>
            <button type="button" class="btn btn-primary btn-block" style="text-align:left" ng-click="$state.go('inputdraft')">
                Tambah Usulan <span class=" glyphicon glyphicon-plus pull-right"></span>
            </button>
        </div>
        <hr>
    </div>
    <!-- post list -->
    <!-- <div class="col-md-9 col-sm-12 col-xs-12 pull-left" style="background-color:green">
        <div ui-view="drafts"></div>
    </div> -->

    <div class="col-md-9 col-sm-12 col-xs-12 pull-left">
        <div class="row">
            <div class="pull-right" style="">
                    Urut berdasarkan :
                    <div class="btn-group">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                Tanggal
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Tanngal</a></li>
                                <li><a href="#">Informasi</a></li>
                                <li><a href="#">Komentar</a></li>
                                <li><a href="#">Poin</a></li>
                            </ul>
                        </div>

                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#"><span class="glyphicon glyphicon-chevron-up" ></span></a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-chevron-down" ></span></a></li>
                            </ul>
                        </div>

                    </div>

            </div>
            <div class="text-left pull-left" >
                <ul uib-pagination boundary-links="true" total-items="drafts.length" max-size="maxSize"  ng-model="currentPage" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" style="margin: 0px!important;"></ul>
            </div>
        </div>
        <hr>

        <!-- <button type="button" name="button" ng-click="randomArray()">BUTTON!!!!</button> -->
        <div class="row draft" ng-repeat="val in filteredVal | orderBy : 'created_at'" ng-class="$odd ? 'background-grey' : ''">
            <div class="col-md-2 col-sm-2 col-xs-2 rank">
                <div class="col-md-4" style="padding-left: 0; color:#888">
                    {{ ($index + 1) + (currentPage - 1) * numPerPage}}
                </div>
                <div class="col-md-8">
                    <div class="row">{{(val.like/(val.like+val.dislike))*100}}%</div>
                    <div class="row rank-vote">{{val.like+val.dislike}}</div>
                </div>
            </div>
            <div class="col-md-10 col-sm-10 col-xs-10">
                <div class="row"> <a href="#" class="deco-none" ng-click="$state.go('draft', {'draft_id' : val._id})">{{ val.kegiatan }}</a> <span class="row-posted">Lokasi : </span><span class="location">{{showlocation(val.lokasi_cakupan, val.lokasi_detail, val.lokasi_kelurahan, val.lokasi_kecamatan)}}</span>
                    <!-- function buat lokasi -->
                </div>
                <div class="row row-posted">
                    Diusulkan oleh : <a href=# ng-class="showtipeuser(val.user.user_tipe)">{{val.user.nama_depan + ' ' + val.user.nama_belakang}}</a>
                    pada : <span class="postdate">{{val.created_at}}</span>
                </div>
                <div class="row row-tags">
                    <a href="#" ng-class="showtipedraft(val.draft_tipe)">{{val.draft_tipe}}</a>
                    <a href="#" class="label label-skpd">{{val.skpd}}</a>
                    <div ng-repeat="tags in val.tags" style="display:inline-block">
                        <a href="#" class="label label-tag" style="margin-right:3px">#{{tags}}</a>
                    </div>
                    <br>
                    <span href="#" ng-class="showtipeveri(val.verifikasi)">{{val.verifikasi}}</span> <span style="font-size: 85%; color : #D52724">{{val.verifikasi_ket}}</span>
                </div>
                <div class="row row-bottomlink">
                    <ul class="list-inline" style="margin-bottom:2px">
                        <li><a href="#"class="" ng-click="$state.go('draft', {'draft_id' : val._id})">{{count(val.feedback)}} informasi</a> </li>
                        <li><a href="#"class="" ng-click="$state.go('draft', {'draft_id' : val._id})">{{}} komentar</a> </li>
                        <li>
                            <a href="#" id="thums-up" ng-click="vote(val, 'like')"> <span class=" glyphicon glyphicon-thumbs-up"></span> {{val.like}}</a>
                        </li>
                        <li>
                            <a href="#" id="thums-down" ng-click="vote(val, 'dislike')"> <span class=" glyphicon glyphicon-thumbs-down"></span> {{val.dislike}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="text-left">
                <ul uib-pagination boundary-links="true" total-items="drafts.length" max-size="maxSize"  ng-model="currentPage" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
            </div>

        </div>

        <div class="clearfix"></div>
        <!-- <ul uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></ul> -->
    </div>
</div>
