<div class="container-fluid page-header">
    <nav class="navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar" style="background-color: #337ab7;"></span>
                    <span class="icon-bar" style="background-color: #337ab7;"></span>
                    <span class="icon-bar" style="background-color: #337ab7;"></span>
                </button>
                <a class="navbar-brand" href="/beranda">Musrenbang Kota Cimahi</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a ui-sref="coba1">Beranda</a></li>
                    <li><a ui-sref="coba1">Bantuan</a></li>
                    <li><a ui-sref="coba2">Kontak</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li ng-show='showLogin' ng-click='login()'><a href="#"><span class="glyphicon glyphicon-log-in"></span> Masuk/Daftar</a></li>
                    <li ng-hide='showLogin'class="dropdown">
                        <!-- <a href="#"><span class="glyphicon glyphicon-log-out"></span> Keluar</a> -->
                        <a href="#" class="dropdown-toggle" id="profil" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> {{ getAuth.nama_depan }} {{ getAuth.nama_belakang }}
                            <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Halaman profil</a></a></li>
                                <li><a href="#" ng-click='logout()'>Log out</a></li>
                            </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<!-- <li id="fat-menu" class="dropdown">
    <a href="#" class="dropdown-toggle" id="drop3" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Dropdown <span class="caret"></span> </a>
    <ul class="dropdown-menu" aria-labelledby="drop3">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Separated link</a></li> </ul> </li> -->
